openapi: 3.0.1
info:
  title: Vapi API
  version: 1.0.0
servers:
- url: https://api.vapi.ai
  description: Default
paths:
  /call:
    get:
      tags:
      - Calls
      summary: List Calls
      operationId: calls_list
      parameters:
      - name: id
        in: query
        description: This is the unique identifier for the call.
        required: false
        schema:
          type: string
          nullable: true
      - name: assistantId
        in: query
        description: This will return calls with the specified assistantId.
        required: false
        schema:
          type: string
          nullable: true
      - name: phoneNumberId
        in: query
        description: |-
          This is the phone number that will be used for the call. To use a transient number, use `phoneNumber` instead.

          Only relevant for `outboundPhoneCall` and `inboundPhoneCall` type.
        required: false
        schema:
          type: string
          nullable: true
      - name: limit
        in: query
        description: This is the maximum number of items to return. Defaults to 100.
        required: false
        schema:
          type: number
          format: double
          nullable: true
      - name: createdAtGt
        in: query
        description: This will return items where the createdAt is greater than the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: createdAtLt
        in: query
        description: This will return items where the createdAt is less than the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: createdAtGe
        in: query
        description: This will return items where the createdAt is greater than or equal to the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: createdAtLe
        in: query
        description: This will return items where the createdAt is less than or equal to the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: updatedAtGt
        in: query
        description: This will return items where the updatedAt is greater than the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: updatedAtLt
        in: query
        description: This will return items where the updatedAt is less than the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: updatedAtGe
        in: query
        description: This will return items where the updatedAt is greater than or equal to the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: updatedAtLe
        in: query
        description: This will return items where the updatedAt is less than or equal to the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Call'
              examples:
                Example1:
                  value:
                  - type: inboundPhoneCall
                    costs:
                    - minutes: 1.1
                      cost: 1.1
                      type: transport
                    messages:
                    - role: role
                      message: message
                      time: 1.1
                      endTime: 1.1
                      secondsFromStart: 1.1
                    phoneCallProvider: twilio
                    phoneCallTransport: sip
                    status: scheduled
                    endedReason: call-start-error-neither-assistant-nor-server-set
                    destination:
                      message: message
                      numberE164CheckEnabled: true
                      number: number
                      extension: extension
                      callerId: callerId
                      transferPlan:
                        mode: blind-transfer
                      description: description
                      type: number
                    id: id
                    orgId: orgId
                    createdAt: 2024-01-15T09:30:00Z
                    updatedAt: 2024-01-15T09:30:00Z
                    startedAt: 2024-01-15T09:30:00Z
                    endedAt: 2024-01-15T09:30:00Z
                    cost: 1.1
                    costBreakdown:
                      transport: 1.1
                      stt: 1.1
                      llm: 1.1
                      tts: 1.1
                      vapi: 1.1
                      total: 1.1
                      llmPromptTokens: 1.1
                      llmCompletionTokens: 1.1
                      ttsCharacters: 1.1
                    artifactPlan:
                      recordingEnabled: true
                      recordingFormat: wav;l16
                      videoRecordingEnabled: false
                      pcapEnabled: true
                      pcapS3PathPrefix: /pcaps
                      transcriptPlan:
                        enabled: true
                      recordingPath: recordingPath
                    analysis:
                      summary: summary
                      structuredData:
                        key: value
                      structuredDataMulti:
                      - key: value
                      successEvaluation: successEvaluation
                    monitor:
                      listenUrl: listenUrl
                      controlUrl: controlUrl
                    artifact:
                      messages:
                      - role: role
                        message: message
                        time: 1.1
                        endTime: 1.1
                        secondsFromStart: 1.1
                      messagesOpenAIFormatted:
                      - role: assistant
                      recordingUrl: recordingUrl
                      stereoRecordingUrl: stereoRecordingUrl
                      videoRecordingUrl: videoRecordingUrl
                      videoRecordingStartDelaySeconds: 1.1
                      transcript: transcript
                      pcapUrl: pcapUrl
                    transport:
                      provider: twilio
                      assistantVideoEnabled: true
                    phoneCallProviderId: phoneCallProviderId
                    assistantId: assistantId
                    assistant:
                      transcriber:
                        provider: assembly-ai
                      model:
                        model: model
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      metadata:
                        key: value
                      artifactPlan:
                        recordingEnabled: true
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                    assistantOverrides:
                      transcriber:
                        provider: assembly-ai
                      model:
                        model: model
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      variableValues:
                        key: value
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      metadata:
                        key: value
                      artifactPlan:
                        recordingEnabled: true
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                    squadId: squadId
                    squad:
                      name: name
                      members:
                      - {}
                      membersOverrides:
                        voice:
                          voiceId: andrew
                          provider: azure
                        firstMessage: Hello! How can I help you today?
                        silenceTimeoutSeconds: 30
                        maxDurationSeconds: 600
                        backgroundSound: "off"
                        backgroundDenoisingEnabled: false
                        modelOutputInMessagesEnabled: false
                    phoneNumberId: phoneNumberId
                    phoneNumber:
                      fallbackDestination:
                        number: number
                        type: number
                      twilioPhoneNumber: twilioPhoneNumber
                      twilioAccountSid: twilioAccountSid
                      twilioAuthToken: twilioAuthToken
                      name: name
                      assistantId: assistantId
                      squadId: squadId
                      server:
                        timeoutSeconds: 20
                        url: url
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                    customerId: customerId
                    customer:
                      numberE164CheckEnabled: true
                      extension: extension
                      number: number
                      sipUri: sipUri
                      name: name
                    name: name
                    schedulePlan:
                      earliestAt: 2024-01-15T09:30:00Z
                      latestAt: 2024-01-15T09:30:00Z
      security:
      - BearerAuth: []
    post:
      tags:
      - Calls
      summary: Create Call
      operationId: calls_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/call_body'
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallsCreateResponse'
      security:
      - BearerAuth: []
  /call/{id}:
    get:
      tags:
      - Calls
      summary: Get Call
      operationId: calls_get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        examples:
          Example1:
            value: id
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
              examples:
                Example1:
                  value:
                    type: inboundPhoneCall
                    costs:
                    - provider: twilio
                      minutes: 1.1
                      cost: 1.1
                      type: transport
                    messages:
                    - role: role
                      message: message
                      time: 1.1
                      endTime: 1.1
                      secondsFromStart: 1.1
                      duration: 1.1
                    phoneCallProvider: twilio
                    phoneCallTransport: sip
                    status: scheduled
                    endedReason: call-start-error-neither-assistant-nor-server-set
                    destination:
                      message: message
                      numberE164CheckEnabled: true
                      number: number
                      extension: extension
                      callerId: callerId
                      transferPlan:
                        mode: blind-transfer
                        message: message
                        sipVerb:
                          key: value
                        twiml: twiml
                      description: description
                      type: number
                    id: id
                    orgId: orgId
                    createdAt: 2024-01-15T09:30:00Z
                    updatedAt: 2024-01-15T09:30:00Z
                    startedAt: 2024-01-15T09:30:00Z
                    endedAt: 2024-01-15T09:30:00Z
                    cost: 1.1
                    costBreakdown:
                      transport: 1.1
                      stt: 1.1
                      llm: 1.1
                      tts: 1.1
                      vapi: 1.1
                      total: 1.1
                      llmPromptTokens: 1.1
                      llmCompletionTokens: 1.1
                      ttsCharacters: 1.1
                      analysisCostBreakdown:
                        summary: 1.1
                        summaryPromptTokens: 1.1
                        summaryCompletionTokens: 1.1
                        structuredData: 1.1
                        structuredDataPromptTokens: 1.1
                        structuredDataCompletionTokens: 1.1
                        successEvaluation: 1.1
                        successEvaluationPromptTokens: 1.1
                        successEvaluationCompletionTokens: 1.1
                    artifactPlan:
                      recordingEnabled: true
                      recordingFormat: wav;l16
                      videoRecordingEnabled: false
                      pcapEnabled: true
                      pcapS3PathPrefix: /pcaps
                      transcriptPlan:
                        enabled: true
                        assistantName: assistantName
                        userName: userName
                      recordingPath: recordingPath
                    analysis:
                      summary: summary
                      structuredData:
                        key: value
                      structuredDataMulti:
                      - key: value
                      successEvaluation: successEvaluation
                    monitor:
                      listenUrl: listenUrl
                      controlUrl: controlUrl
                    artifact:
                      messages:
                      - role: role
                        message: message
                        time: 1.1
                        endTime: 1.1
                        secondsFromStart: 1.1
                      messagesOpenAIFormatted:
                      - role: assistant
                      recordingUrl: recordingUrl
                      stereoRecordingUrl: stereoRecordingUrl
                      videoRecordingUrl: videoRecordingUrl
                      videoRecordingStartDelaySeconds: 1.1
                      transcript: transcript
                      pcapUrl: pcapUrl
                    transport:
                      provider: twilio
                      assistantVideoEnabled: true
                    phoneCallProviderId: phoneCallProviderId
                    assistantId: assistantId
                    assistant:
                      transcriber:
                        language: en
                        realtimeUrl: realtimeUrl
                        wordBoost:
                        - wordBoost
                        endUtteranceSilenceThreshold: 1.1
                        disablePartialTranscripts: true
                        fallbackPlan:
                          transcribers:
                          - provider: assembly-ai
                        provider: assembly-ai
                      model:
                        messages:
                        - role: assistant
                        tools:
                        - async: false
                          type: dtmf
                        toolIds:
                        - toolIds
                        knowledgeBase:
                          server:
                            timeoutSeconds: 20
                            url: url
                            backoffPlan:
                              maxRetries: 0
                              type:
                                key: value
                              baseDelaySeconds: 1
                        knowledgeBaseId: knowledgeBaseId
                        model: model
                        temperature: 1.1
                        maxTokens: 1.1
                        emotionRecognitionEnabled: true
                        numFastTurns: 1.1
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        chunkPlan:
                          enabled: true
                          minCharacters: 30
                        speed: 1.1
                        fallbackPlan:
                          voices:
                          - voiceId: andrew
                            provider: azure
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                        metadata:
                          key: value
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      compliancePlan:
                        hipaaEnabled: true
                        pciEnabled: true
                      metadata:
                        key: value
                      analysisPlan:
                        structuredDataMultiPlan:
                        - key: key
                          plan: {}
                      artifactPlan:
                        recordingEnabled: true
                        recordingFormat: wav;l16
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                        transcriptPlan:
                          enabled: true
                        recordingPath: recordingPath
                      messagePlan:
                        idleMessages:
                        - idleMessages
                        idleMessageMaxSpokenCount: 1.1
                        idleTimeoutSeconds: 1.1
                        silenceTimeoutMessage: silenceTimeoutMessage
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                        smartEndpointingPlan:
                          provider: vapi
                        customEndpointingRules:
                        - regex: regex
                          timeoutSeconds: 1.1
                          type: assistant
                        transcriptionEndpointingPlan:
                          onPunctuationSeconds: 0.1
                          onNoPunctuationSeconds: 1.5
                          onNumberSeconds: 0.5
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                        acknowledgementPhrases:
                        - i understand
                        - i see
                        - i got it
                        - i hear you
                        - im listening
                        - im with you
                        - right
                        - okay
                        - ok
                        - sure
                        - alright
                        - got it
                        - understood
                        - yeah
                        - "yes"
                        - uh-huh
                        - mm-hmm
                        - gotcha
                        - mhmm
                        - ah
                        - yeah okay
                        - yeah sure
                        interruptionPhrases:
                        - stop
                        - shut
                        - up
                        - enough
                        - quiet
                        - silence
                        - but
                        - dont
                        - not
                        - "no"
                        - hold
                        - wait
                        - cut
                        - pause
                        - nope
                        - nah
                        - nevermind
                        - never
                        - bad
                        - actually
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                      keypadInputPlan:
                        enabled: true
                        timeoutSeconds: 1.1
                        delimiters: '#'
                    assistantOverrides:
                      transcriber:
                        language: en
                        realtimeUrl: realtimeUrl
                        wordBoost:
                        - wordBoost
                        endUtteranceSilenceThreshold: 1.1
                        disablePartialTranscripts: true
                        fallbackPlan:
                          transcribers:
                          - provider: assembly-ai
                        provider: assembly-ai
                      model:
                        messages:
                        - role: assistant
                        tools:
                        - async: false
                          type: dtmf
                        toolIds:
                        - toolIds
                        knowledgeBase:
                          server:
                            timeoutSeconds: 20
                            url: url
                            backoffPlan:
                              maxRetries: 0
                              type:
                                key: value
                              baseDelaySeconds: 1
                        knowledgeBaseId: knowledgeBaseId
                        model: model
                        temperature: 1.1
                        maxTokens: 1.1
                        emotionRecognitionEnabled: true
                        numFastTurns: 1.1
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        chunkPlan:
                          enabled: true
                          minCharacters: 30
                        speed: 1.1
                        fallbackPlan:
                          voices:
                          - voiceId: andrew
                            provider: azure
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                        metadata:
                          key: value
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      variableValues:
                        key: value
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      compliancePlan:
                        hipaaEnabled: true
                        pciEnabled: true
                      metadata:
                        key: value
                      analysisPlan:
                        structuredDataMultiPlan:
                        - key: key
                          plan: {}
                      artifactPlan:
                        recordingEnabled: true
                        recordingFormat: wav;l16
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                        transcriptPlan:
                          enabled: true
                        recordingPath: recordingPath
                      messagePlan:
                        idleMessages:
                        - idleMessages
                        idleMessageMaxSpokenCount: 1.1
                        idleTimeoutSeconds: 1.1
                        silenceTimeoutMessage: silenceTimeoutMessage
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                        smartEndpointingPlan:
                          provider: vapi
                        customEndpointingRules:
                        - regex: regex
                          timeoutSeconds: 1.1
                          type: assistant
                        transcriptionEndpointingPlan:
                          onPunctuationSeconds: 0.1
                          onNoPunctuationSeconds: 1.5
                          onNumberSeconds: 0.5
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                        acknowledgementPhrases:
                        - i understand
                        - i see
                        - i got it
                        - i hear you
                        - im listening
                        - im with you
                        - right
                        - okay
                        - ok
                        - sure
                        - alright
                        - got it
                        - understood
                        - yeah
                        - "yes"
                        - uh-huh
                        - mm-hmm
                        - gotcha
                        - mhmm
                        - ah
                        - yeah okay
                        - yeah sure
                        interruptionPhrases:
                        - stop
                        - shut
                        - up
                        - enough
                        - quiet
                        - silence
                        - but
                        - dont
                        - not
                        - "no"
                        - hold
                        - wait
                        - cut
                        - pause
                        - nope
                        - nah
                        - nevermind
                        - never
                        - bad
                        - actually
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                      keypadInputPlan:
                        enabled: true
                        timeoutSeconds: 1.1
                        delimiters: '#'
                    squadId: squadId
                    squad:
                      name: name
                      members:
                      - {}
                      membersOverrides:
                        transcriber:
                          provider: assembly-ai
                        model:
                          model: model
                          provider: anyscale
                        voice:
                          voiceId: andrew
                          provider: azure
                        firstMessage: Hello! How can I help you today?
                        firstMessageInterruptionsEnabled: true
                        firstMessageMode: assistant-speaks-first
                        voicemailDetection:
                          voicemailExpectedDurationSeconds: 1.1
                          provider: google
                        clientMessages:
                        - conversation-update
                        - function-call
                        - hang
                        - model-output
                        - speech-update
                        - status-update
                        - transfer-update
                        - transcript
                        - tool-calls
                        - user-interrupted
                        - voice-input
                        - workflow.node.started
                        serverMessages:
                        - conversation-update
                        - end-of-call-report
                        - function-call
                        - hang
                        - speech-update
                        - status-update
                        - tool-calls
                        - transfer-destination-request
                        - user-interrupted
                        silenceTimeoutSeconds: 30
                        maxDurationSeconds: 600
                        backgroundSound: "off"
                        backgroundDenoisingEnabled: false
                        modelOutputInMessagesEnabled: false
                        transportConfigurations:
                        - provider: twilio
                          timeout: 60
                          record: false
                        observabilityPlan:
                          provider: langfuse
                          tags:
                          - tags
                        credentials:
                        - apiKey: apiKey
                          provider: 11labs
                        variableValues:
                          key: value
                        name: name
                        voicemailMessage: voicemailMessage
                        endCallMessage: endCallMessage
                        endCallPhrases:
                        - endCallPhrases
                        metadata:
                          key: value
                        artifactPlan:
                          recordingEnabled: true
                          videoRecordingEnabled: false
                          pcapEnabled: true
                          pcapS3PathPrefix: /pcaps
                        startSpeakingPlan:
                          waitSeconds: 0.4
                          smartEndpointingEnabled:
                            key: value
                        stopSpeakingPlan:
                          numWords: 0
                          voiceSeconds: 0.2
                          backoffSeconds: 1
                        monitorPlan:
                          listenEnabled: false
                          controlEnabled: false
                        credentialIds:
                        - credentialIds
                        server:
                          timeoutSeconds: 20
                          url: url
                          backoffPlan:
                            maxRetries: 0
                            type:
                              key: value
                            baseDelaySeconds: 1
                        hooks:
                        - "on": call.ending
                          do:
                          - {}
                    phoneNumberId: phoneNumberId
                    phoneNumber:
                      fallbackDestination:
                        message: message
                        numberE164CheckEnabled: true
                        number: number
                        extension: extension
                        callerId: callerId
                        transferPlan:
                          mode: blind-transfer
                        description: description
                        type: number
                      twilioPhoneNumber: twilioPhoneNumber
                      twilioAccountSid: twilioAccountSid
                      twilioAuthToken: twilioAuthToken
                      name: name
                      assistantId: assistantId
                      squadId: squadId
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                    customerId: customerId
                    customer:
                      numberE164CheckEnabled: true
                      extension: extension
                      number: number
                      sipUri: sipUri
                      name: name
                    name: name
                    schedulePlan:
                      earliestAt: 2024-01-15T09:30:00Z
                      latestAt: 2024-01-15T09:30:00Z
      security:
      - BearerAuth: []
    delete:
      tags:
      - Calls
      summary: Delete Call Data
      operationId: calls_delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        examples:
          Example1:
            value: id
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
              examples:
                Example1:
                  value:
                    type: inboundPhoneCall
                    costs:
                    - provider: twilio
                      minutes: 1.1
                      cost: 1.1
                      type: transport
                    messages:
                    - role: role
                      message: message
                      time: 1.1
                      endTime: 1.1
                      secondsFromStart: 1.1
                      duration: 1.1
                    phoneCallProvider: twilio
                    phoneCallTransport: sip
                    status: scheduled
                    endedReason: call-start-error-neither-assistant-nor-server-set
                    destination:
                      message: message
                      numberE164CheckEnabled: true
                      number: number
                      extension: extension
                      callerId: callerId
                      transferPlan:
                        mode: blind-transfer
                        message: message
                        sipVerb:
                          key: value
                        twiml: twiml
                      description: description
                      type: number
                    id: id
                    orgId: orgId
                    createdAt: 2024-01-15T09:30:00Z
                    updatedAt: 2024-01-15T09:30:00Z
                    startedAt: 2024-01-15T09:30:00Z
                    endedAt: 2024-01-15T09:30:00Z
                    cost: 1.1
                    costBreakdown:
                      transport: 1.1
                      stt: 1.1
                      llm: 1.1
                      tts: 1.1
                      vapi: 1.1
                      total: 1.1
                      llmPromptTokens: 1.1
                      llmCompletionTokens: 1.1
                      ttsCharacters: 1.1
                      analysisCostBreakdown:
                        summary: 1.1
                        summaryPromptTokens: 1.1
                        summaryCompletionTokens: 1.1
                        structuredData: 1.1
                        structuredDataPromptTokens: 1.1
                        structuredDataCompletionTokens: 1.1
                        successEvaluation: 1.1
                        successEvaluationPromptTokens: 1.1
                        successEvaluationCompletionTokens: 1.1
                    artifactPlan:
                      recordingEnabled: true
                      recordingFormat: wav;l16
                      videoRecordingEnabled: false
                      pcapEnabled: true
                      pcapS3PathPrefix: /pcaps
                      transcriptPlan:
                        enabled: true
                        assistantName: assistantName
                        userName: userName
                      recordingPath: recordingPath
                    analysis:
                      summary: summary
                      structuredData:
                        key: value
                      structuredDataMulti:
                      - key: value
                      successEvaluation: successEvaluation
                    monitor:
                      listenUrl: listenUrl
                      controlUrl: controlUrl
                    artifact:
                      messages:
                      - role: role
                        message: message
                        time: 1.1
                        endTime: 1.1
                        secondsFromStart: 1.1
                      messagesOpenAIFormatted:
                      - role: assistant
                      recordingUrl: recordingUrl
                      stereoRecordingUrl: stereoRecordingUrl
                      videoRecordingUrl: videoRecordingUrl
                      videoRecordingStartDelaySeconds: 1.1
                      transcript: transcript
                      pcapUrl: pcapUrl
                    transport:
                      provider: twilio
                      assistantVideoEnabled: true
                    phoneCallProviderId: phoneCallProviderId
                    assistantId: assistantId
                    assistant:
                      transcriber:
                        language: en
                        realtimeUrl: realtimeUrl
                        wordBoost:
                        - wordBoost
                        endUtteranceSilenceThreshold: 1.1
                        disablePartialTranscripts: true
                        fallbackPlan:
                          transcribers:
                          - provider: assembly-ai
                        provider: assembly-ai
                      model:
                        messages:
                        - role: assistant
                        tools:
                        - async: false
                          type: dtmf
                        toolIds:
                        - toolIds
                        knowledgeBase:
                          server:
                            timeoutSeconds: 20
                            url: url
                            backoffPlan:
                              maxRetries: 0
                              type:
                                key: value
                              baseDelaySeconds: 1
                        knowledgeBaseId: knowledgeBaseId
                        model: model
                        temperature: 1.1
                        maxTokens: 1.1
                        emotionRecognitionEnabled: true
                        numFastTurns: 1.1
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        chunkPlan:
                          enabled: true
                          minCharacters: 30
                        speed: 1.1
                        fallbackPlan:
                          voices:
                          - voiceId: andrew
                            provider: azure
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                        metadata:
                          key: value
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      compliancePlan:
                        hipaaEnabled: true
                        pciEnabled: true
                      metadata:
                        key: value
                      analysisPlan:
                        structuredDataMultiPlan:
                        - key: key
                          plan: {}
                      artifactPlan:
                        recordingEnabled: true
                        recordingFormat: wav;l16
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                        transcriptPlan:
                          enabled: true
                        recordingPath: recordingPath
                      messagePlan:
                        idleMessages:
                        - idleMessages
                        idleMessageMaxSpokenCount: 1.1
                        idleTimeoutSeconds: 1.1
                        silenceTimeoutMessage: silenceTimeoutMessage
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                        smartEndpointingPlan:
                          provider: vapi
                        customEndpointingRules:
                        - regex: regex
                          timeoutSeconds: 1.1
                          type: assistant
                        transcriptionEndpointingPlan:
                          onPunctuationSeconds: 0.1
                          onNoPunctuationSeconds: 1.5
                          onNumberSeconds: 0.5
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                        acknowledgementPhrases:
                        - i understand
                        - i see
                        - i got it
                        - i hear you
                        - im listening
                        - im with you
                        - right
                        - okay
                        - ok
                        - sure
                        - alright
                        - got it
                        - understood
                        - yeah
                        - "yes"
                        - uh-huh
                        - mm-hmm
                        - gotcha
                        - mhmm
                        - ah
                        - yeah okay
                        - yeah sure
                        interruptionPhrases:
                        - stop
                        - shut
                        - up
                        - enough
                        - quiet
                        - silence
                        - but
                        - dont
                        - not
                        - "no"
                        - hold
                        - wait
                        - cut
                        - pause
                        - nope
                        - nah
                        - nevermind
                        - never
                        - bad
                        - actually
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                      keypadInputPlan:
                        enabled: true
                        timeoutSeconds: 1.1
                        delimiters: '#'
                    assistantOverrides:
                      transcriber:
                        language: en
                        realtimeUrl: realtimeUrl
                        wordBoost:
                        - wordBoost
                        endUtteranceSilenceThreshold: 1.1
                        disablePartialTranscripts: true
                        fallbackPlan:
                          transcribers:
                          - provider: assembly-ai
                        provider: assembly-ai
                      model:
                        messages:
                        - role: assistant
                        tools:
                        - async: false
                          type: dtmf
                        toolIds:
                        - toolIds
                        knowledgeBase:
                          server:
                            timeoutSeconds: 20
                            url: url
                            backoffPlan:
                              maxRetries: 0
                              type:
                                key: value
                              baseDelaySeconds: 1
                        knowledgeBaseId: knowledgeBaseId
                        model: model
                        temperature: 1.1
                        maxTokens: 1.1
                        emotionRecognitionEnabled: true
                        numFastTurns: 1.1
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        chunkPlan:
                          enabled: true
                          minCharacters: 30
                        speed: 1.1
                        fallbackPlan:
                          voices:
                          - voiceId: andrew
                            provider: azure
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                        metadata:
                          key: value
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      variableValues:
                        key: value
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      compliancePlan:
                        hipaaEnabled: true
                        pciEnabled: true
                      metadata:
                        key: value
                      analysisPlan:
                        structuredDataMultiPlan:
                        - key: key
                          plan: {}
                      artifactPlan:
                        recordingEnabled: true
                        recordingFormat: wav;l16
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                        transcriptPlan:
                          enabled: true
                        recordingPath: recordingPath
                      messagePlan:
                        idleMessages:
                        - idleMessages
                        idleMessageMaxSpokenCount: 1.1
                        idleTimeoutSeconds: 1.1
                        silenceTimeoutMessage: silenceTimeoutMessage
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                        smartEndpointingPlan:
                          provider: vapi
                        customEndpointingRules:
                        - regex: regex
                          timeoutSeconds: 1.1
                          type: assistant
                        transcriptionEndpointingPlan:
                          onPunctuationSeconds: 0.1
                          onNoPunctuationSeconds: 1.5
                          onNumberSeconds: 0.5
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                        acknowledgementPhrases:
                        - i understand
                        - i see
                        - i got it
                        - i hear you
                        - im listening
                        - im with you
                        - right
                        - okay
                        - ok
                        - sure
                        - alright
                        - got it
                        - understood
                        - yeah
                        - "yes"
                        - uh-huh
                        - mm-hmm
                        - gotcha
                        - mhmm
                        - ah
                        - yeah okay
                        - yeah sure
                        interruptionPhrases:
                        - stop
                        - shut
                        - up
                        - enough
                        - quiet
                        - silence
                        - but
                        - dont
                        - not
                        - "no"
                        - hold
                        - wait
                        - cut
                        - pause
                        - nope
                        - nah
                        - nevermind
                        - never
                        - bad
                        - actually
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                      keypadInputPlan:
                        enabled: true
                        timeoutSeconds: 1.1
                        delimiters: '#'
                    squadId: squadId
                    squad:
                      name: name
                      members:
                      - {}
                      membersOverrides:
                        transcriber:
                          provider: assembly-ai
                        model:
                          model: model
                          provider: anyscale
                        voice:
                          voiceId: andrew
                          provider: azure
                        firstMessage: Hello! How can I help you today?
                        firstMessageInterruptionsEnabled: true
                        firstMessageMode: assistant-speaks-first
                        voicemailDetection:
                          voicemailExpectedDurationSeconds: 1.1
                          provider: google
                        clientMessages:
                        - conversation-update
                        - function-call
                        - hang
                        - model-output
                        - speech-update
                        - status-update
                        - transfer-update
                        - transcript
                        - tool-calls
                        - user-interrupted
                        - voice-input
                        - workflow.node.started
                        serverMessages:
                        - conversation-update
                        - end-of-call-report
                        - function-call
                        - hang
                        - speech-update
                        - status-update
                        - tool-calls
                        - transfer-destination-request
                        - user-interrupted
                        silenceTimeoutSeconds: 30
                        maxDurationSeconds: 600
                        backgroundSound: "off"
                        backgroundDenoisingEnabled: false
                        modelOutputInMessagesEnabled: false
                        transportConfigurations:
                        - provider: twilio
                          timeout: 60
                          record: false
                        observabilityPlan:
                          provider: langfuse
                          tags:
                          - tags
                        credentials:
                        - apiKey: apiKey
                          provider: 11labs
                        variableValues:
                          key: value
                        name: name
                        voicemailMessage: voicemailMessage
                        endCallMessage: endCallMessage
                        endCallPhrases:
                        - endCallPhrases
                        metadata:
                          key: value
                        artifactPlan:
                          recordingEnabled: true
                          videoRecordingEnabled: false
                          pcapEnabled: true
                          pcapS3PathPrefix: /pcaps
                        startSpeakingPlan:
                          waitSeconds: 0.4
                          smartEndpointingEnabled:
                            key: value
                        stopSpeakingPlan:
                          numWords: 0
                          voiceSeconds: 0.2
                          backoffSeconds: 1
                        monitorPlan:
                          listenEnabled: false
                          controlEnabled: false
                        credentialIds:
                        - credentialIds
                        server:
                          timeoutSeconds: 20
                          url: url
                          backoffPlan:
                            maxRetries: 0
                            type:
                              key: value
                            baseDelaySeconds: 1
                        hooks:
                        - "on": call.ending
                          do:
                          - {}
                    phoneNumberId: phoneNumberId
                    phoneNumber:
                      fallbackDestination:
                        message: message
                        numberE164CheckEnabled: true
                        number: number
                        extension: extension
                        callerId: callerId
                        transferPlan:
                          mode: blind-transfer
                        description: description
                        type: number
                      twilioPhoneNumber: twilioPhoneNumber
                      twilioAccountSid: twilioAccountSid
                      twilioAuthToken: twilioAuthToken
                      name: name
                      assistantId: assistantId
                      squadId: squadId
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                    customerId: customerId
                    customer:
                      numberE164CheckEnabled: true
                      extension: extension
                      number: number
                      sipUri: sipUri
                      name: name
                    name: name
                    schedulePlan:
                      earliestAt: 2024-01-15T09:30:00Z
                      latestAt: 2024-01-15T09:30:00Z
      security:
      - BearerAuth: []
    patch:
      tags:
      - Calls
      summary: Update Call
      operationId: calls_update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        examples:
          Example1:
            value: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/call_id_body'
            examples:
              Example1:
                value: {}
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
              examples:
                Example1:
                  value:
                    type: inboundPhoneCall
                    costs:
                    - provider: twilio
                      minutes: 1.1
                      cost: 1.1
                      type: transport
                    messages:
                    - role: role
                      message: message
                      time: 1.1
                      endTime: 1.1
                      secondsFromStart: 1.1
                      duration: 1.1
                    phoneCallProvider: twilio
                    phoneCallTransport: sip
                    status: scheduled
                    endedReason: call-start-error-neither-assistant-nor-server-set
                    destination:
                      message: message
                      numberE164CheckEnabled: true
                      number: number
                      extension: extension
                      callerId: callerId
                      transferPlan:
                        mode: blind-transfer
                        message: message
                        sipVerb:
                          key: value
                        twiml: twiml
                      description: description
                      type: number
                    id: id
                    orgId: orgId
                    createdAt: 2024-01-15T09:30:00Z
                    updatedAt: 2024-01-15T09:30:00Z
                    startedAt: 2024-01-15T09:30:00Z
                    endedAt: 2024-01-15T09:30:00Z
                    cost: 1.1
                    costBreakdown:
                      transport: 1.1
                      stt: 1.1
                      llm: 1.1
                      tts: 1.1
                      vapi: 1.1
                      total: 1.1
                      llmPromptTokens: 1.1
                      llmCompletionTokens: 1.1
                      ttsCharacters: 1.1
                      analysisCostBreakdown:
                        summary: 1.1
                        summaryPromptTokens: 1.1
                        summaryCompletionTokens: 1.1
                        structuredData: 1.1
                        structuredDataPromptTokens: 1.1
                        structuredDataCompletionTokens: 1.1
                        successEvaluation: 1.1
                        successEvaluationPromptTokens: 1.1
                        successEvaluationCompletionTokens: 1.1
                    artifactPlan:
                      recordingEnabled: true
                      recordingFormat: wav;l16
                      videoRecordingEnabled: false
                      pcapEnabled: true
                      pcapS3PathPrefix: /pcaps
                      transcriptPlan:
                        enabled: true
                        assistantName: assistantName
                        userName: userName
                      recordingPath: recordingPath
                    analysis:
                      summary: summary
                      structuredData:
                        key: value
                      structuredDataMulti:
                      - key: value
                      successEvaluation: successEvaluation
                    monitor:
                      listenUrl: listenUrl
                      controlUrl: controlUrl
                    artifact:
                      messages:
                      - role: role
                        message: message
                        time: 1.1
                        endTime: 1.1
                        secondsFromStart: 1.1
                      messagesOpenAIFormatted:
                      - role: assistant
                      recordingUrl: recordingUrl
                      stereoRecordingUrl: stereoRecordingUrl
                      videoRecordingUrl: videoRecordingUrl
                      videoRecordingStartDelaySeconds: 1.1
                      transcript: transcript
                      pcapUrl: pcapUrl
                    transport:
                      provider: twilio
                      assistantVideoEnabled: true
                    phoneCallProviderId: phoneCallProviderId
                    assistantId: assistantId
                    assistant:
                      transcriber:
                        language: en
                        realtimeUrl: realtimeUrl
                        wordBoost:
                        - wordBoost
                        endUtteranceSilenceThreshold: 1.1
                        disablePartialTranscripts: true
                        fallbackPlan:
                          transcribers:
                          - provider: assembly-ai
                        provider: assembly-ai
                      model:
                        messages:
                        - role: assistant
                        tools:
                        - async: false
                          type: dtmf
                        toolIds:
                        - toolIds
                        knowledgeBase:
                          server:
                            timeoutSeconds: 20
                            url: url
                            backoffPlan:
                              maxRetries: 0
                              type:
                                key: value
                              baseDelaySeconds: 1
                        knowledgeBaseId: knowledgeBaseId
                        model: model
                        temperature: 1.1
                        maxTokens: 1.1
                        emotionRecognitionEnabled: true
                        numFastTurns: 1.1
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        chunkPlan:
                          enabled: true
                          minCharacters: 30
                        speed: 1.1
                        fallbackPlan:
                          voices:
                          - voiceId: andrew
                            provider: azure
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                        metadata:
                          key: value
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      compliancePlan:
                        hipaaEnabled: true
                        pciEnabled: true
                      metadata:
                        key: value
                      analysisPlan:
                        structuredDataMultiPlan:
                        - key: key
                          plan: {}
                      artifactPlan:
                        recordingEnabled: true
                        recordingFormat: wav;l16
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                        transcriptPlan:
                          enabled: true
                        recordingPath: recordingPath
                      messagePlan:
                        idleMessages:
                        - idleMessages
                        idleMessageMaxSpokenCount: 1.1
                        idleTimeoutSeconds: 1.1
                        silenceTimeoutMessage: silenceTimeoutMessage
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                        smartEndpointingPlan:
                          provider: vapi
                        customEndpointingRules:
                        - regex: regex
                          timeoutSeconds: 1.1
                          type: assistant
                        transcriptionEndpointingPlan:
                          onPunctuationSeconds: 0.1
                          onNoPunctuationSeconds: 1.5
                          onNumberSeconds: 0.5
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                        acknowledgementPhrases:
                        - i understand
                        - i see
                        - i got it
                        - i hear you
                        - im listening
                        - im with you
                        - right
                        - okay
                        - ok
                        - sure
                        - alright
                        - got it
                        - understood
                        - yeah
                        - "yes"
                        - uh-huh
                        - mm-hmm
                        - gotcha
                        - mhmm
                        - ah
                        - yeah okay
                        - yeah sure
                        interruptionPhrases:
                        - stop
                        - shut
                        - up
                        - enough
                        - quiet
                        - silence
                        - but
                        - dont
                        - not
                        - "no"
                        - hold
                        - wait
                        - cut
                        - pause
                        - nope
                        - nah
                        - nevermind
                        - never
                        - bad
                        - actually
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                      keypadInputPlan:
                        enabled: true
                        timeoutSeconds: 1.1
                        delimiters: '#'
                    assistantOverrides:
                      transcriber:
                        language: en
                        realtimeUrl: realtimeUrl
                        wordBoost:
                        - wordBoost
                        endUtteranceSilenceThreshold: 1.1
                        disablePartialTranscripts: true
                        fallbackPlan:
                          transcribers:
                          - provider: assembly-ai
                        provider: assembly-ai
                      model:
                        messages:
                        - role: assistant
                        tools:
                        - async: false
                          type: dtmf
                        toolIds:
                        - toolIds
                        knowledgeBase:
                          server:
                            timeoutSeconds: 20
                            url: url
                            backoffPlan:
                              maxRetries: 0
                              type:
                                key: value
                              baseDelaySeconds: 1
                        knowledgeBaseId: knowledgeBaseId
                        model: model
                        temperature: 1.1
                        maxTokens: 1.1
                        emotionRecognitionEnabled: true
                        numFastTurns: 1.1
                        provider: anyscale
                      voice:
                        voiceId: andrew
                        chunkPlan:
                          enabled: true
                          minCharacters: 30
                        speed: 1.1
                        fallbackPlan:
                          voices:
                          - voiceId: andrew
                            provider: azure
                        provider: azure
                      firstMessage: Hello! How can I help you today?
                      firstMessageInterruptionsEnabled: true
                      firstMessageMode: assistant-speaks-first
                      voicemailDetection:
                        voicemailExpectedDurationSeconds: 1.1
                        provider: google
                      clientMessages:
                      - conversation-update
                      - function-call
                      - hang
                      - model-output
                      - speech-update
                      - status-update
                      - transfer-update
                      - transcript
                      - tool-calls
                      - user-interrupted
                      - voice-input
                      - workflow.node.started
                      serverMessages:
                      - conversation-update
                      - end-of-call-report
                      - function-call
                      - hang
                      - speech-update
                      - status-update
                      - tool-calls
                      - transfer-destination-request
                      - user-interrupted
                      silenceTimeoutSeconds: 30
                      maxDurationSeconds: 600
                      backgroundSound: "off"
                      backgroundDenoisingEnabled: false
                      modelOutputInMessagesEnabled: false
                      transportConfigurations:
                      - provider: twilio
                        timeout: 60
                        record: false
                      observabilityPlan:
                        provider: langfuse
                        tags:
                        - tags
                        metadata:
                          key: value
                      credentials:
                      - apiKey: apiKey
                        provider: 11labs
                      variableValues:
                        key: value
                      name: name
                      voicemailMessage: voicemailMessage
                      endCallMessage: endCallMessage
                      endCallPhrases:
                      - endCallPhrases
                      compliancePlan:
                        hipaaEnabled: true
                        pciEnabled: true
                      metadata:
                        key: value
                      analysisPlan:
                        structuredDataMultiPlan:
                        - key: key
                          plan: {}
                      artifactPlan:
                        recordingEnabled: true
                        recordingFormat: wav;l16
                        videoRecordingEnabled: false
                        pcapEnabled: true
                        pcapS3PathPrefix: /pcaps
                        transcriptPlan:
                          enabled: true
                        recordingPath: recordingPath
                      messagePlan:
                        idleMessages:
                        - idleMessages
                        idleMessageMaxSpokenCount: 1.1
                        idleTimeoutSeconds: 1.1
                        silenceTimeoutMessage: silenceTimeoutMessage
                      startSpeakingPlan:
                        waitSeconds: 0.4
                        smartEndpointingEnabled:
                          key: value
                        smartEndpointingPlan:
                          provider: vapi
                        customEndpointingRules:
                        - regex: regex
                          timeoutSeconds: 1.1
                          type: assistant
                        transcriptionEndpointingPlan:
                          onPunctuationSeconds: 0.1
                          onNoPunctuationSeconds: 1.5
                          onNumberSeconds: 0.5
                      stopSpeakingPlan:
                        numWords: 0
                        voiceSeconds: 0.2
                        backoffSeconds: 1
                        acknowledgementPhrases:
                        - i understand
                        - i see
                        - i got it
                        - i hear you
                        - im listening
                        - im with you
                        - right
                        - okay
                        - ok
                        - sure
                        - alright
                        - got it
                        - understood
                        - yeah
                        - "yes"
                        - uh-huh
                        - mm-hmm
                        - gotcha
                        - mhmm
                        - ah
                        - yeah okay
                        - yeah sure
                        interruptionPhrases:
                        - stop
                        - shut
                        - up
                        - enough
                        - quiet
                        - silence
                        - but
                        - dont
                        - not
                        - "no"
                        - hold
                        - wait
                        - cut
                        - pause
                        - nope
                        - nah
                        - nevermind
                        - never
                        - bad
                        - actually
                      monitorPlan:
                        listenEnabled: false
                        controlEnabled: false
                      credentialIds:
                      - credentialIds
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                      hooks:
                      - "on": call.ending
                        do:
                        - {}
                      keypadInputPlan:
                        enabled: true
                        timeoutSeconds: 1.1
                        delimiters: '#'
                    squadId: squadId
                    squad:
                      name: name
                      members:
                      - {}
                      membersOverrides:
                        transcriber:
                          provider: assembly-ai
                        model:
                          model: model
                          provider: anyscale
                        voice:
                          voiceId: andrew
                          provider: azure
                        firstMessage: Hello! How can I help you today?
                        firstMessageInterruptionsEnabled: true
                        firstMessageMode: assistant-speaks-first
                        voicemailDetection:
                          voicemailExpectedDurationSeconds: 1.1
                          provider: google
                        clientMessages:
                        - conversation-update
                        - function-call
                        - hang
                        - model-output
                        - speech-update
                        - status-update
                        - transfer-update
                        - transcript
                        - tool-calls
                        - user-interrupted
                        - voice-input
                        - workflow.node.started
                        serverMessages:
                        - conversation-update
                        - end-of-call-report
                        - function-call
                        - hang
                        - speech-update
                        - status-update
                        - tool-calls
                        - transfer-destination-request
                        - user-interrupted
                        silenceTimeoutSeconds: 30
                        maxDurationSeconds: 600
                        backgroundSound: "off"
                        backgroundDenoisingEnabled: false
                        modelOutputInMessagesEnabled: false
                        transportConfigurations:
                        - provider: twilio
                          timeout: 60
                          record: false
                        observabilityPlan:
                          provider: langfuse
                          tags:
                          - tags
                        credentials:
                        - apiKey: apiKey
                          provider: 11labs
                        variableValues:
                          key: value
                        name: name
                        voicemailMessage: voicemailMessage
                        endCallMessage: endCallMessage
                        endCallPhrases:
                        - endCallPhrases
                        metadata:
                          key: value
                        artifactPlan:
                          recordingEnabled: true
                          videoRecordingEnabled: false
                          pcapEnabled: true
                          pcapS3PathPrefix: /pcaps
                        startSpeakingPlan:
                          waitSeconds: 0.4
                          smartEndpointingEnabled:
                            key: value
                        stopSpeakingPlan:
                          numWords: 0
                          voiceSeconds: 0.2
                          backoffSeconds: 1
                        monitorPlan:
                          listenEnabled: false
                          controlEnabled: false
                        credentialIds:
                        - credentialIds
                        server:
                          timeoutSeconds: 20
                          url: url
                          backoffPlan:
                            maxRetries: 0
                            type:
                              key: value
                            baseDelaySeconds: 1
                        hooks:
                        - "on": call.ending
                          do:
                          - {}
                    phoneNumberId: phoneNumberId
                    phoneNumber:
                      fallbackDestination:
                        message: message
                        numberE164CheckEnabled: true
                        number: number
                        extension: extension
                        callerId: callerId
                        transferPlan:
                          mode: blind-transfer
                        description: description
                        type: number
                      twilioPhoneNumber: twilioPhoneNumber
                      twilioAccountSid: twilioAccountSid
                      twilioAuthToken: twilioAuthToken
                      name: name
                      assistantId: assistantId
                      squadId: squadId
                      server:
                        timeoutSeconds: 20
                        url: url
                        secret: secret
                        headers:
                          key: value
                        backoffPlan:
                          maxRetries: 0
                          type:
                            key: value
                          baseDelaySeconds: 1
                    customerId: customerId
                    customer:
                      numberE164CheckEnabled: true
                      extension: extension
                      number: number
                      sipUri: sipUri
                      name: name
                    name: name
                    schedulePlan:
                      earliestAt: 2024-01-15T09:30:00Z
                      latestAt: 2024-01-15T09:30:00Z
      security:
      - BearerAuth: []
  /assistant:
    get:
      tags:
      - Assistants
      summary: List Assistants
      operationId: assistants_list
      parameters:
      - name: limit
        in: query
        description: This is the maximum number of items to return. Defaults to 100.
        required: false
        schema:
          type: number
          format: double
          nullable: true
      - name: createdAtGt
        in: query
        description: This will return items where the createdAt is greater than the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: createdAtLt
        in: query
        description: This will return items where the createdAt is less than the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: createdAtGe
        in: query
        description: This will return items where the createdAt is greater than or equal to the specified value.
        required: false
        schema:
          type: string
          format: date-time
          nullable: true
      - name: createdAtLe
        in: query
[...]
